@import "home";


// .container-inline {
//   display: inline-flex;
//   position:fixed;
//   bottom: 5px;
//   margin-left: 10px;

// }
.card-tours{
  flex: 0 0 auto;
  width:93vw;
  background-color: #D8D8D8;
  margin-right: 25px;
  height:120px;
  border-radius: 5px;
  padding:5px;
}
.overflow-scroll{
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}
