@import "home";


.card-tours{
  width:82%;
  background-color: #D8D8D8;
  margin-right: 25px;
  height:120px;
  border-radius: 5px;
  padding:5px;
}
.overflow-scroll{
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.carousel-inner {
  height:120px
}

.carousel {
  position:absolute;
  width:100%;
  bottom:5px;
}
.carousel-control-prev{
  opacity:1;
  width:10%;
}
.carousel-control-next{
  opacity:1;
  width:10%;
}

