@import "home";

#map {
  padding-left: 10px;
}

.container-inline-show {
  display: inline-flex;
  position: relative;
  justify-content: space-between;
  z-index: 100;
  width: 100%;
  padding: 5px;
}

.step-container{
  display: inline-flex;
  position: relative;
  max-width: 69%;
}

.step-button {
  margin-bottom: 5px;
}

.step-card{
  background-color:rgba(247, 243, 243, 0.7);
}
.card-tours-show{
  position: relative;
  z-index: 100;
  bottom: 12px;
  width: 100%;
  background-color:rgba(247, 243, 243, 0.7);
  height: 120px;
  border-radius: 5px;
  padding: 5px;
  margin-left: -4px;
}
.card-button{
  position: relative; right: -162px;
}
.overflow-scroll{
  overflow:scroll;

}

#activity-button {
  position:relative;
  z-index: 100;
}
