@import "home";

#map {
  padding-left: 10px;
}
.tours-card-container{
  position: fixed;
  z-index: 100;
  bottom: 16px;
  right: 16px;
  left: 16px;
  box-shadow: grey 7px 7px 16px 2px;
  border-radius: 8px;
}

.container-inline-show {
  display: inline-flex;
  position: relative;
  justify-content: space-between;
  z-index: 100;
  width: 100%;
  padding: 5px;
}

.step-container{
  display: inline-flex;
  position: relative;
  max-width: 69%;
}

.step-button {
  margin-bottom: 5px;
}

.step-card{
  background-color:rgba(247, 243, 243, 0.9);
  border-radius: 8px;
  box-shadow: grey 4px 4px 12px 1px;
}
.card-tours-show{
  position: relative;
  z-index: 100;
  width: 100%;
   background-color: rgba(255,255,255,0.9);
  height: 122px;
  border-radius: 5px;
  padding: 5px;
}
.card-button{
  position: relative; right: -162px;
}
.overflow-scroll{
  overflow:scroll;

}

#activity-button {
  position:relative;
  z-index: 100;
}
.step-button {
  padding: 7px;
  border-radius: 6px;
  font-size: 14px;
  margin-bottom: 2px;
}
.neutral {
  border: 1px lightgrey solid;
  background-color:rgba(247, 243, 243, 0.7);
  box-shadow: grey 2px 2px 3px 1px;
}
.positive {
  border: 1px lightgrey solid;
  background-color:rgba(0, 128, 0, 0.7);
  color: white;
  box-shadow: grey 2px 2px 3px 1px;
}
.add-activity {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  font-size: xx-large;
  color:rgb(0, 128, 0)
}

#new-container {
  width: auto;
  background-color: lightgrey;
  margin: 12px;
  padding: 19px;
  border-radius: 8px;
  box-shadow: grey 5px 5px 13px 1px;
}