<h2 class="text-center my-5">Create your tour</h2>
<div class="container" id="new-container">
<%= simple_form_for(@tour) do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.submit %>

<% end %>
</div>
